{% extends ":"~template~":base.html.twig" %}

{% block content %}

    <div data-section-wrapper="1">

		<div data-section="1">
			<div class="center no_pad banner" data-slot-container="1">
				<div data-slot="image" class="cf" style="padding: 10px 0;">
					<img src="{{ getAssetUrl('themes/'~template~'/img/logo.png', null, null, true) }}" style="max-height: 50px;">
				</div>
			</div>
        </div>

	</div>

    <div class="section cf" data-section-wrapper="1" style="background-color: #3777BF;">
		
		<div class="colwrap cf">
		
			<div class="col30">
				<div data-section="1" class="">
					<div data-slot-container="1" class="fw">
						<div data-slot="image" class="fw">
							<img id="product_img" class="fr-view fw" src="{{ getAssetUrl('themes/'~template~'/img/book-mock.png', null, null, true) }}" alt="" />
						</div>
						
						<div data-slot="button">
							<a id="image_trigger" href="#" class="button" style="">
								&#11015; DOWNLOAD NOW
							</a>
						</div>
						
						<div data-slot="text">
							<p id="image_text" style="color: #fff;">1,000s of visitors have already downloaded this book</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col70">
				<div data-section="1" class="">
					
					<div data-slot-container="1">
						<div data-slot="text">
							<h1 style="color: #fff;">Get the FREE book</h1>
						</div>
					</div>
					
					<div class="highlight_wrap" style="color: #fff;">
						<div data-slot-container="1">
							<div data-slot="text">
								<h2 style="color: #fff;">And discover all the tools you need!</h2>
							</div>
						</div>
						
						<div data-slot-container="1">
							<div class="faux_li" data-slot="text">
								Learn how to do this
							</div>
						</div>

						<div data-slot-container="1">
							<div class="faux_li" data-slot="text">
								Learn how to do this
							</div>
						</div>

						<div data-slot-container="1">
							<div class="faux_li" data-slot="text">
								Learn how to do this
							</div>
						</div>

						<div data-slot-container="1">
							<div class="faux_li" data-slot="text">
								Learn how to do this
							</div>
						</div>
						
					</div>
					
					<div id="button_container" class="form_wrap button_container">
						
						<div data-slot-container="1">
							<div data-slot="button">
								<a id="form_bucket_trigger" href="#" class="button" style="">
									YES, SEND ME THE BOOK
								</a>
							</div>
						</div>
						
						<div id="form_bucket">
							<div id="form_bucket_box" class="form_bucket_box" data-slot-container="1">
								<div id="form_bucket_close"></div>
								
								<div id="progress_bar" class="meter animate">
									<span id="progress_bar_in" style="width: 50%"><span></span></span>
								</div>
								
								<div id="form_bucket_box_intro" class="" data-slot="text">
									Almost done! Please fill in the form and click the button below for instant access.
								</div>
								<div id="form_bucket_box_in" class="" data-slot="text">
									PLACE FORM TOKEN HERE
								</div>
								<div data-slot="text">
									<p class="sub_note" style="">We hate spam as much as you do. We won't share your email address without your permission. We will send you updates that will contain information that we believe will be valuable and helpful to you. Every email will include an unsubscribe link so you can opt out at any time.</p>
								</div>
							</div>
						</div>
						
						<div id="form_secure" style="text-align: center; display: none; padding-top: 10px; color: #fff;">
							<img src="{{ getAssetUrl('themes/'~template~'/img/padlock-white.png', null, null, true) }}" alt="">&nbsp;&nbsp;&nbsp;100% Secure
						</div>
						
					</div>
					
				</div>
			</div>
			
		</div>
		
    </div>

    <div data-section-wrapper="1" class="cf">
			
		<div data-section="1" class="center pad-tb">
			
			<div class="mobile-padding sh_desaturate" style="text-align: center;" data-slot-container="1">

				<div data-slot="text" style="text-align: center;">
					<p>AS SEEN ON</p>
				</div>
				
				<div id="social_proof" style="font-size: 0;">
					
					<div data-section="1" class="col20 ib collapse">
						<div data-slot-container="1" class="">
							<div data-slot="image" class="">
								<img class="fr-view" src="{{ getAssetUrl('themes/'~template~'/img/social-proof.png', null, null, true) }}" alt="" />
							</div>
						</div>
					</div>
				
					<div data-section="1" class="col20 ib collapse">
						<div data-slot-container="1" class="">
							<div data-slot="image" class="">
								<img class="fr-view" src="{{ getAssetUrl('themes/'~template~'/img/social-proof.png', null, null, true) }}" alt="" />
							</div>
						</div>
					</div>
				
					<div data-section="1" class="col20 ib collapse">
						<div data-slot-container="1" class="">
							<div data-slot="image" class="">
								<img class="fr-view" src="{{ getAssetUrl('themes/'~template~'/img/social-proof.png', null, null, true) }}" alt="" />
							</div>
						</div>
					</div>
				
					<div data-section="1" class="col20 ib collapse">
						<div data-slot-container="1" class="">
							<div data-slot="image" class="">
								<img class="fr-view" src="{{ getAssetUrl('themes/'~template~'/img/social-proof.png', null, null, true) }}" alt="" />
							</div>
						</div>
					</div>
				
					<div data-section="1" class="col20 ib collapse">
						<div data-slot-container="1" class="">
							<div data-slot="image" class="">
								<img class="fr-view" src="{{ getAssetUrl('themes/'~template~'/img/social-proof.png', null, null, true) }}" alt="" />
							</div>
						</div>
					</div>

				</div>
				
			</div>
						
		</div>
			
    </div>

    <div data-section-wrapper="1" class="footer">
		
		<div data-section="1" class="center sm-txt">
			
			<div style="text-align:left;" class="fw" data-slot-container="1">
				<div data-slot="separator"><hr/></div>
			</div>

			<div style="text-align:left;" class="col50" data-slot-container="1">
				<div data-slot="text">
					&copy; Shoestring Hustle 2017
				</div>
			</div>

			<div style="text-align:right;" class="col50" data-slot-container="1">
				<div data-slot="text">
					<a id="shtel" href="#">Privacy Policy</a>
				</div>
			</div>

		</div>
		
	</div>
	
	<link rel="stylesheet" href="{{ getAssetUrl('themes/'~template~'/css/admin-styles.css') }}" type="text/css" />

	<script src="{{ getAssetUrl('themes/'~template~'/js/shoestring-hustle.js', null, null, true) }}"></script>

{% endblock %}
